
.mainDiv{
  width: 100vw;
  height: 100vh;
  background: #a52a2a;
  background-image: url('./handshake.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: "no-repeat"
} 

/* .landingMain{
  min-height: "500px";
  min-width: "500px";
} */


.formBox{
  width: "40vw";
  margin: "0 auto";
}
